# This is a comment
# Ignore target at the top level
/client_secrets.json
# Ignore child project's targets as well

# And any grandchildren ...

# Or you can do:
client_secrets.json
# which matches 'target' in any sub folder